/*
 * lemonde.scss - Contains all Drupal-specific SASS for this theme.
 *
 * @todo Split this into multiple folders/files.
*/

// A fix for https://www.drupal.org/node/953034 - Themes currently cannot
// determine if a region is empty

.region-highlighted:empty {
    display: none;
}

// This has been an issue since 7.x, Foundation rules about list elements
// affect Navbar sizing.

.toolbar-tray a {
    font-size: 13px;
}

// Remove Foundation's top margin from the toggle orientation button.

.toolbar .toolbar-toggle-orientation .toolbar-icon {
    margin: 0;
    // Fix offset problem where half of orientation button is not visible.
    &:before {
        min-height: 0;
    }
}

// Override styles from /core/modules/system/css/components/menu.theme.css

.top-bar-section ul li {
    padding-top: 0;
    a.is-active {
        color: #FFFFFF;
    }
}

// Preventing Top Bar FOUC
// http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
// More info: https://www.drupal.org/node/2783573
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}

// Offset the top bar if the Navbar (toolbar) is present.

body.toolbar-fixed .sticky.is-stuck .top-bar {
    margin-top: 39px;
}

body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .sticky.is-stuck .top-bar {
    margin-top: 78px;
}

body.toolbar-fixed .sticky.is-stuck.is-at-top {
    margin-top: 0 !important;
}

// Removes core arrow image from menu items.

.top-bar {
    .menu-item--collapsed,.menu-item--expanded {
        list-style: none;
    }
}


// Style the search form, if embedded in the Top Bar.

.top-bar .search-block-form {
    .form-item-keys, .form-actions {
        display: inline-block;
    }
}

// Dropdown button styling.

.dropbutton-wrapper {
    // Sub-themes will have to override this color, unfortunately.
    background-color: #008CBA;
    margin: 0 0 1.25rem;
    .button {
        margin-bottom: 0;
        width: 100%;
        text-align: left;
    }
}

.block-lemonde-main-menu {
  background-color: black;
}

.block-lemonde-main-menu a {
  font-size:0.75rem;
  color: white;
  border-width:1px;
  border-style:solid;
  border-color:white;
}

.block-navigationlemonde{
  background-color: white;
}

.block-navigationlemonde a {
  font-size:1rem;
  color: black;
  border-width:0.5px;
  border-style:solid;
  border-color:grey;
  text-transform: uppercase;
}

/*.block-lemonde-branding {
  margin : 0 auto;
  width : 400px;
}*/

body {
color:white;
background-image:url(/themes/lemonde/images/default.png);
background-repeat:repeat-y;
}

/*.block-lemonde-content {
  margin : 0 auto;
  width : 800px;
}
.block-views-block-frontpage-block-1 {
  margin : 0 auto;
  width : 800px;
}*/

.block-views-block-frontpage-block-1 h2 {
  height : 10rem;
}

.block-views-block-frontpage-block-1 .posted {
  visibility: hidden;
}

.block-lemonde-content .posted {
  visibility: hidden;
}

/*#header-page {
    background-color : red;
    border-bottom: 1px solid #d2d6db;
    position: relative;
    z-index: 4;
}

@media (min-width: 1024px)
#header-page #surheader {
    background: linear-gradient(to bottom, #2d3841 0, #010c16 100%);
    font-size: 1.1rem;
    line-height: 25px;
}

#header-page .contenu {
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 1024px)
#header-page .groupe {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@media (min-width: 1024px)
#header-page .groupe a {
    padding: 0 8px;
    color: #d2d6db;
    border-left: 1px solid #5d666d;
    border-right: 1px solid #16212c;
}*/


#surheader {
    font-size: 0.65rem;
    line-height: 25px;
}

.contenu {
    background-color : black;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.groupe a {
    /*font-size:0.75rem;
    color: white;
    border-width:1px;
    border-style:solid;
    border-color:white;*/
    padding: 0 8px;
    color: #d2d6db;
    border-left: 1px solid #5d666d;
    border-right: 1px solid #16212c;
}

.partners__link {
    padding: 0 8px;
    color: #d2d6db;
    border-right: 1px solid #16212c;
}

.services {
    flex: 1 0 115px;
    border-left: 1px solid #5d666d;
    position: relative;
    display: flex;
    align-items: stretch;
}

.services>span {
    width: 100%;
    text-align: center;
    color: #d2d6db;
    padding: 0 12px;
}

.services>div {
    position: absolute;
    right: 0;
    top: 25px;
    display: none;
    width: 340px;
    box-shadow: 3px 3px 3px rgba(0,11,21,0.2);
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.services>div>div {
    display: table-cell;
    width: 50%;
    padding-bottom: 8px;
}

.services>div>div a, .services>div>div strong {
    display: block;
    padding: 0 12px;
    line-height: 25px;
    color: #000b15;
}

.abonnement {
    flex: 1 0 auto;
    padding: 0 12px;
    background: #ffc800;
    text-align: center;
}

.abonnement a {
    color: #16212c;
    font-weight: bold;
}

/*.abonnement a span {
    display: none;
}*/
